include ../_includes/_mixins

p: em Algunos han dado literalmente todo por amor a Dios y a su Palabra. Ese es el caso de #[strong William Tyndale] (1494-1536), quien dio su vida por traducir la Biblia al idioma de la gente de su tiempo.

p Educado en las Universidades de Oxford y Cambridge, Tyndale se enfurecía por las barreras entre la Biblia y la gente y su anhelo era alimentar no solo la mente sino también el alma del pueblo. #[cite «En las universidades»], decía, #[cite «se insiste en que nadie lea las Escrituras hasta que su mente esté llena de aprendizaje pagano luego de siete u ocho años de enseñanza y armado de principios falsos con los cuales se cierre a la comprensión de las Escrituras.»] Tyndale, entonces, dedicó su vida a derribar este obstáculo. Para él, la Biblia #[em para el pueblo], sería la respuesta ante la corrupción social y religiosa de su tiempo.

p Tyndale nació alrededor del año 1494 en Gloucester, Inglaterra, cerca de la frontera con Gales. Casi 100 años antes, las autoridades eclesiásticas habías prohibido la lectura de la única Biblia en inglés que existía, la Biblia manuscrita de #[a(href="http://www.biografiasyvidas.com/biografia/w/wycliffe.htm" target="_blank") John Wycliffe], que era una traducción con algunos desaciertos, basada en la Vulgata latina, pero era lo único que tenían los hablantes de inglés. Y tener una copia de la misma era un crimen. 

p La pasión de Tyndale se encaminó hacia una misión tan peligrosa como otras en aquellos tiempos: trabajar desde el hebreo, arameo y griego para crear una Biblia en inglés vernáculo, tan legible y apropiada como para una persona inglesa pudiera leerla y basarse en ella para su vida diaria al discernir la voz de Dios hablando en su propio idioma. Para ese entonces, Tyndale, multilingüe y muy preparado, tenía alrededor de 30 años.

+h(1) El trabajo de su vida
br

p Para llevar a cabo su trabajo, Tyndale tuvo que dejar Inglaterra, pues nadie lo protegería para una tarea #[em "tan peligrosa"]. Tyndale viajó a Alemania donde #[b completó el Nuevo Testamento en 1525]. Luego se dirigió a Antwerp, Bélgica, siempre escapando de los agentes ingleses, donde tradujo e imprimió los primeros cinco libros del Antiguo Testamento. En Bélgica conoció una comunidad de comerciantes ingleses y vivió entre ellos, aunque sabía que los agentes ingleses procuraban encontrarlo con fines perversos. Al sentirse a salvo entre sus compatriotas bajó la guardia, lo que finalmente sería fatal.

p Tyndale se hizo amigo de Henry Phillips quien se ganó su confianza al tiempo que buscaba obtener la recompensa ofrecida por su cabeza. En mayo de 1535 la trampa fue tendida. Tyndale fue apresado y llevado como prisionero al castillo de Vilvoorde, cerca de Bruselas, donde padeció por 18 meses, en condiciones infrahumanas. Luego fue llevado ante el tribunal acusado de mantener la creencia de que #[em solo la fe justifica… y creer que el perdón de los pecados y la misericordia ofrecida en el evangelio eran suficiente para la salvación.]

p Con su cuerpo temblando de frío por los inclementes inviernos, Tyndale siguió traduciendo hasta #[b #[a(href="https://en.wikipedia.org/wiki/Tyndale_Bible" target="_blank") completar la Biblia en inglés]], ayudado por su carcelero que simpatizó con el traductor.

+h(1) Días finales
br

p En agosto de 1536, Tyndale fue condenado como hereje, y degradado de su grado religioso. Dos meses después, ya con todos los trámites realizados y luego de ofrecerle la #[em "oportunidad de arrepentimiento"], para no morir afuera de la gracia de Dios, Tyndale fue llevado a la hoguera acompañado de los gritos de una muchedumbre #[em oficialista] que lo acusaban de pagano.

p Ya firmemente asegurado a la estaca, Tyndale elevó su última oración a Dios: #[em: b «Señor, abre los ojos del rey de Inglaterra»], tras lo cual sus ejecutores comenzaron el fuego que apagaría su vida terrenal enviándolo a la vida eterna, a los pies del Señor a quien tanto amó.

p Aquella oración final fue dirigida al rey #[a(href="https://es.wikipedia.org/wiki/Enrique_VIII_de_Inglaterra" target="_blank") Henry VIII], cuya búsqueda de un heredero masculino había costado la vida de Ana Bolena y el matrimonio de Catarina. ¿Sería finalmente respondida la oración de Tyndale?

p Ciertamente así fue. Dos años después de la muerte de Tyndale, el rey Henry VIII autorizó la distribución de la #[b Biblia de Mateo], gran parte del trabajo de Tyndale.

p Finalmente, en 1539, todos los impresores y libreros recibieron la orden real de asegurar que todos puedan recibir la Biblia en su inglés maternal.

+quote("William Tyndale respondiendo a un sacerdote de la época") Si Dios guarda mi vida por mas algunos años, prometo que un joven labrador conocerá mas la Biblia que ustedes.

p: b El sueño de Tyndale y su última oración fueron una clara realidad.
